<div class="row">
  <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-12 col-xs 12">
    <div class="row section-block">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 section-heading">FLIGHT</div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="row">
          <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <label for="departure-airport" class="col-lg-3 col-md-3 col-sm-12 col-xs-12">From</label>
            <select class="form-control col-lg-9 col-md-9 col-sm-12 col-xs-12" id="departure-airport"
                    ng-model="bookingCtrl.departAirportSelected"
                    ng-options="airport.name for airport in bookingCtrl.airports"
                    ng-change="bookingCtrl.repopulate(bookingCtrl.departAirportSelected)"> </select>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <p>City: {{bookingCtrl.departAirportSelected.city}} </p>

              <p>State: {{bookingCtrl.departAirportSelected.state}} </p>
            </div>
          </div>

          <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <label for="arrival-airport" class="col-lg-3 col-md-3 col-sm-12 col-xs-12">To</label>
            <!--<select class="form-control" id="arrival-airport" ng-model="bookingCtrl.arrivalAirportSelected"-->
            <!--ng-options="airport.name for airport in bookingCtrl.airports | filter : { name : '!' + bookingCtrl.departAirportSelected.name}">-->
            <!--</select>--> <select class="form-control col-lg-9 col-md-9 col-sm-12 col-xs-12" id="arrival-airport"
                                     ng-model="bookingCtrl.arrivalAirportSelected"
                                     ng-options="airport.name for airport in bookingCtrl.airportsRepopulated"> </select>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><p>City:
              {{bookingCtrl.arrivalAirportSelected.city}} </p>

              <p>State: {{bookingCtrl.arrivalAirportSelected.state}} </p></div>
          </div>
        </div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

        <div class="row">
          <div class="form-group date col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <label for="departure-date" class="col-lg-3 col-md-3 col-sm-12 col-xs-12">Departing</label>
            <input type="date" class="form-control col-lg-9 col-md-9 col-sm-12 col-xs-12" id="departure-date"
                   min="bookingCtrl.minDate()"/>
          </div>
          <div class="form-group date col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <label for="arrival-date" class="col-lg-3 col-md-3 col-sm-12 col-xs-12">Arrival</label>
            <input type="date" class="form-control col-lg-9 col-md-9 col-sm-12 col-xs-12"
                   id="arrival-date"
                   placeholder="yyyy-MM-dd"/></div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 padding-left">
        <div class="row">
          <div class="form-group col-lg-5 col-md-5 col-sm-12 col-xs-12">
            <label for="adultsNumber">Adults(18+)</label>
            <select id="adultsNumber" ng-model="bookingCtrl.adultsNumber"
              ng-change="bookingCtrl.passengersAllowed()">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
              <option>6</option>
            </select>
          </div>
          <div class="form-group col-lg-5 col-md-5 col-sm-12 col-xs-12">
            <label for="childrenNumber">Children(0-17)</label>
            <select id="childrenNumber" ng-model="bookingCtrl.childrenNumber"
                    ng-change="bookingCtrl.passengersAllowed()">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
              <option>6</option>
            </select>
          </div>
        </div>
      </div>
    </div>

    <div class="row section-block" ng-if="(bookingCtrl.passengers.length < bookingCtrl.allowed) && bookingCtrl.allowed">
      <div class="col-md-12 col-md-12 col-sm-12 col-xs-12 section-heading">add passengers</div>
      <div class="col-md-12 col-md-12 col-sm-12 col-xs-12">
        <form novalidate name="pasengersForm" class="form-horizontal col-lg-12 col-md-12 col-sm-12 col-xs-12"
              ng-submit="bookingCtrl.SavePassenger(bookingCtrl.psgrName, bookingCtrl.psgrDOB,
                                            bookingCtrl.psgrWeight, bookingCtrl.psgrSeats);
                                            pasengersForm.$setPristine()">

          <div class="row">
            <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <div class="row"><label for="psgrName" class="col-lg-3 col-md-3 col-sm-12 col-xs-12">Name</label>
                <input type="text" id="psgrName" name="psgrName"
                       class="form-control col-lg-9 col-md-9 col-sm-12 col-xs-12"
                       ng-model="bookingCtrl.psgrName"
                       required ng-minlength="5"/>

                <p ng-show="pasengersForm.psgrName.$error.minlength" class="help-block">Name is too short.</p></div>

            </div>
            <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <label for="psgrDOB" class="col-lg-3 col-md-3 col-sm-12 col-xs-12">DOB</label>
              <input type="date" id="psgrDOB" name="psgrDOB" class="form-control col-lg-9 col-md-9 col-sm-12 col-xs-12"
                     ng-model="bookingCtrl.psgrDOB"
                     required/>
              <span class="error" ng-show="pasengersForm.psgrDOB.$error.date"> Not a valid date!</span>

            </div>
          </div>
          <div class="row">
            <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <div class="row"><label for="psgrWeight" class="col-lg-3 col-md-3 col-sm-12 col-xs-12">Weight</label>
                <input type="number" id="psgrWeight" name="psgrWeight"
                       class="form-control col-lg-9 col-md-9 col-sm-12 col-xs-12"
                       ng-model="bookingCtrl.psgrWeight" required min="20" max="400"/>

                <span class="error" ng-show="pasengersForm.psgrWeight.$error.min">Minimum of 20 pounds required</span>
                <span class="error" ng-show="pasengersForm.psgrWeight.$error.max">Maximum of 400 pounds allowed</span>
              </div>
            </div>
            <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12"
                 ng-class="{'has-error' : pasengersForm.psgrWeight.$invalid && !pasengersForm.psgrWeight.$pristine
                   && submitted}">
              <label for="psgrSeats" class="col-lg-3 col-md-3 col-sm-12 col-xs-12">Seats</label>
              <input type="text" id="psgrSeats" name="psgrSeats"
                     class="form-control col-lg-9 col-md-9 col-sm-12 col-xs-12"
                     ng-model="bookingCtrl.psgrSeats"
                     required/>

              <div ng-show="pasengersForm.psgrSeats.$invalid && !pasengersForm.psgrSeats.$pristine">
                  <span>
                  <i class="fa fa-exclamation-circle" aria-hidden="true"></i> This field is required.</span>
              </div>
            </div>
          </div>
          <button class="btn btn-default"
                  ng-disabled="pasengersForm.$invalid">Add
          </button>
        </form>
      </div>

    </div>
    <div class="row section-block" ng-if="bookingCtrl.passengers.length">
      <div class="col-md-12 col-md-12 col-sm-12 col-xs-12 section-heading">passengers</div>
      <div class="col-md-12 col-md-12 col-sm-12 col-xs-12">
        <div class="row">
          <div class="col-lg-4 col-md-4">Name</div>
          <div class="col-lg-4 col-md-4">Date of Birth</div>
          <div class="col-lg-2 col-md-2">Weight</div>
          <div class="col-lg-2 col-md-2">Seats</div>
          <div class="row">
          </div>
          <div class="row" ng-repeat="(key, passenger) in bookingCtrl.passengers">
            <div class="col-lg-4 col-md-4" ng-bind="passenger.name"></div>
            <div class="col-lg-4 col-md-4" ng-bind="passenger.dob | date : 'MM/dd/yyyy'"></div>
            <div class="col-lg-2 col-md-2" ng-bind="passenger.weight"></div>
            <div class="col-lg-2 col-md-2" ng-bind="passenger.seats"></div>
          </div>


        </div>
      </div>
    </div>

    <button class="btn btn-default" ui-sref="confirm">Continue</button>
  </div>


</div>
